mat-toolbar{
  display: flex;
  justify-content:space-between;
}
.nav {
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
  // float: right;
}
ul li {
  float: left;
  margin: 5px;
}
*{
  text-decoration: none;
  list-style: none;
}