*{
    padding: 0px;
    margin: 0px;
    // background-color: #F5F5F5;
}
// mat-form-field{
//     display: flex;
//     flex-direction: column;
//     height: 350px;
// }
.inputFields{
    display: flex;
    flex-direction: column;
}